
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User</h3>
    </div>
    <p>{{currUser.name}}</p>
    <p>{{currUser.role}}</p>
</div>

<div>
    <h3>{{title}}</h3>
    <p>Component timestamp: {{timestamp | datex:'HH:mm:ss'}}</p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">        
        <h3 *ngIf="currPath" class="panel-title">{{currPath}}</h3>
        <h3 *ngIf="!currPath" class="panel-title">Root</h3>
        <bread-crumbs #StrBreadCrumb (selectedChange)="breadCrumbNavigate($event)"></bread-crumbs>
    </div>
    <ngx-datatable class="hpc striped" #myTable
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [selected]="selectedrow"
                   [selectionType]="'single'"
                   (select)='onSelect($event)'
                   [loadingIndicator]="loadingIndicator"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   (sort)="onSort($event)"
                   [count]="page.TotalElements"
                   [offset]="page.PageNumber"
                   [limit]="page.PageSize"
                   (page)='onPaging($event)'>
        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-curPage="curPage"
                         let-offset="offset"
                         let-pageSize="pageSize"
                         let-rowCount="rowCount"
                         let-selectedCount="selectedCount">
                <div class="page-count">
                                     
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                 [pagerRightArrowIcon]="'datatable-icon-right'"
                                 [pagerPreviousIcon]="'datatable-icon-prev'"
                                 [pagerNextIcon]="'datatable-icon-skip'"
                                 [page]="curPage"
                                 [size]="pageSize"
                                 [count]="rowCount"
                                 [hidden]="!((rowCount / pageSize) > 1)"
                                 (change)="myTable.onFooterPage($event)">
                </datatable-pager>
            </ng-template>           
        </ngx-datatable-footer>
    </ngx-datatable>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">File upload</h3>
    </div>
    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        Alert tests
    </div>
    <div class="panel-body">
        <button class="btn btn-success" (click)="alertSuccess('Yeah! Thats cool!')">Success</button>
        <button class="btn btn-info" (click)="alertInfo('Something happend')">Information</button>
        <button class="btn btn-warning" (click)="alertWarning('Be care... fool!')">Warning</button>
        <button class="btn btn-danger" (click)="alertError('Its all gone :(')">Error</button>
    </div>
</div>