
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User</h3>
    </div>
    <p>{{currUser.name}}</p>
    <p>{{currUser.role}}</p>
</div>

<div>
    <h3>{{title}}</h3>
    <p>Component timestamp: {{timestamp | datex:'HH:mm:ss'}}</p>
</div>
<p *ngIf="!ctrlData"><em>Fetching WebApi...</em></p>
<table class='table' *ngIf="ctrlData">
    <thead>
        <tr>
            <th>Client</th>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dummydata of ctrlData">
            <td>{{ dummydata.clientData }}</td>
            <td>{{ dummydata.serverData }}</td>
        </tr>
    </tbody>
</table>

<div class="panel panel-primary">
    <div class="panel-heading">
        Alert tests
    </div>
    <div class="panel-body">
        <button class="btn btn-success" (click)="alertSuccess('Yeah! Thats cool!')">Success</button>
        <button class="btn btn-info" (click)="alertInfo('Something happend')">Information</button>
        <button class="btn btn-warning" (click)="alertWarning('Be care... fool!')">Warning</button>
        <button class="btn btn-danger" (click)="alertError('Its all gone :(')">Error</button>
    </div>
</div>