<div *ngIf="currentAffirmation" id="overlay">
    <div id="affirmationDialog">
        <div id="AffirmContent">
            <h1>{{ currentAffirmation.title }}</h1>
            <p>{{ currentAffirmation.message }}</p>
            <div *ngIf="currentAffirmation.withCaptcha" style="background:#b3b7ff;">
                <p>Enter "{{captchaProof}}" here</p>
                <input [(ngModel)]="captchaInput" />
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-lg btn-primary" (click)="confirm()">Confirm</button>
                <button class="btn btn-default" (click)="decline()">Decline</button>
            </div>
        </div>
    </div>
</div>

