@import '../../variables.less';

#overlay {
    background: @overlaycolor;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#affirmationDialog {
    background: @papercolor;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
