@import 'variables.less';

.maincontent {
    background-color: @papercolor;
}

.class1 {
    background-color: @primarycolor;

    .class2 {
        background-color: @papercolor;
        color: @primarycolor;
    }
}
