<div class='container-fluid'>
    <hpc-header></hpc-header>
    <div class="container">
        <div class="row">
            <hpc-actionmenu></hpc-actionmenu>
        </div>
        <article>
            This template holds the TypeScript source code of the angular.io quickstart
        </article>
        <br />


      
        <br />
        <p *ngIf="!ctrlData"><em>Fetching WebApi...</em></p>
        <table class='table' *ngIf="ctrlData">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Server</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dummydata of ctrlData">
                    <td>{{ dummydata.clientData }}</td>
                    <td>{{ dummydata.serverData }}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <p>{{timestamp}}</p>
    </div>
</div>