@import '../../variables.less';

.alert-panel {
    bottom: 10%;
    right: 10px;
    position: relative;
    width: 600px;
    margin-left: auto;

    .fixed-body {
        min-height: 200px;
        padding: 5px;
    }
}
