<div *ngIf="alertList?.length > 0" >
    <div class="panel panel-primary centered">
        <div class="panel-heading">Alert header</div>
        <div class="panel-body fixed-body">
            <ul class="list-group">
                <li *ngFor="let alert of alertList">
                    <alert-element [alert]="alert" (alertClosing)="removeAlert($event)"></alert-element>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col-xs-4 col-xs-offset-8">
                    <p>Alert footer</p>
                </div>
            </div>
        </div>
    </div>
</div>