<nav id="autocollapse" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <p class="navbar-brand">{{menutitle}}</p>
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
            <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Home
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/area1']">
                <span class='glyphicon glyphicon-file'></span> Area1
            </a>
        </li>
    </ul>
</nav>